* {
	box-sizing: border-box;
}

html, 
body {
	margin: 0;
}

body {
	background: #171717;
	font-family: "Vollkorn SC";
	font-size: 24px;
	line-height: 32px;
}

.main-content {
	color: #aeaeae;
	width: 66%;
	padding: 40px 0;
	margin: 0 auto;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 40px;
}

h2 {
	color: #fff;
	font-size: 100px;
	line-height: 110px;
	text-shadow: 0 3px 3px rgba(0,0,0,0.3);
	margin-bottom: 40px;
}

.text-sm {
	color: #878787;
	font-size: 12px;
	line-height: 14px;
}

button {
	font-family: "Vollkorn SC";
	margin: 40px 0;
	color: #fff;
	font-size: 18px;
	background-color: #98009b;
	border-radius: 2px;
	border: 0;
	display: flex;
	justify-content: center;
	height: 60px;
	padding: 0 40px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

button:hover {
	background-color: #c500cc;
	cursor: pointer;
}

button:active,
button:focus {
	outline: none;
}

#story {
	color: #aeaeae;
	width: 66%;
}

.gif-bg {
	display: none;
	width:100%;
	height:0;
	padding-bottom:41%;
	position:relative;
	margin: 20px 0;
}


@media only screen and (max-width: 768px) {
	body {
		font-size: 16px;
		line-height: 22px;
	}
	
  .main-content {
  	width: 100%;
  	padding: 20px;
  }

	button {
		display: flex;
		width: 100%;
	}

  h2 {
  	font-size: 60px;
  	line-height: 70px;
  }

  #ofThe {
  	display: inline;
  }
}