* {
	box-sizing: border-box;
}

html, 
body {
	margin: 0;
}

body {
	background: #171717;
	font-family: "Vollkorn SC";
	font-size: 16px;
	line-height: 24px;
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-blend-mode: lighten;
	display: none;
}

.main-content {
	color: #aeaeae;
	width: 80%;
	padding: 40px 0;
	margin: 0 auto;
	text-align: center;
}

h1, h2 {
	margin: 0;
}

h1 {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 img {
	width: 40px;
	margin-right: 10px;
}

h2 {
	color: #fff;
	font-size: 80px;
	line-height: 80px;
	text-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin: 40px auto;
}

.text-sm {
	color: #878787;
	font-size: 12px;
	line-height: 14px;
}

button {
	font-family: "Vollkorn SC";
	margin: 40px auto;
	color: #fff;
	font-size: 18px;
	background-color: #fff;
	border-radius: 2px;
	border: 0;
	display: flex;
	justify-content: center;
	height: 60px;
	padding: 0 40px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	background-image: linear-gradient(to top, rgba(37,136,52,1), rgba(97,179,72,1));
	text-shadow: 0 0 10px rgba(255,255,255,1);
}

button:hover {
	background-image: linear-gradient(to top, rgba(37,136,52,0.9), rgba(97,179,72,0.9));
	cursor: pointer;
}

button:active,
button:focus {
	outline: none;
}

#story {
	color: #aeaeae;
	width: 66%;
	margin: 0 auto;
}

.gif-bg {
	display: none;
	width:100%;
	height:0;
	padding-bottom:41%;
	position:relative;
	margin: 20px 0;
}

@media only screen and (max-width: 660px) {
	body {
		font-size: 16px;
		line-height: 22px;
		background-image: none;
	}

  .main-content {
  	width: 100%;
  	padding: 20px;
  }

  h1 {
  	font-size: 16px;
  	line-height: 20px;
  	text-align: left;
  }

  h2 {
  	font-size: 40px;
  	line-height: 40px;
  }

  #story {
  	width: 100%;
  }
}